.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .home-header {
    font-size: 64px;
    font-weight: bold;
    position: relative;
    top: 40px;
    color: #bd0071;
  }

  & .home-text {
    font-size: 16px;
  }

  & img {
    margin-top: 16px;
    width: 100px;
    object-fit: contain;
  }

  &::after {
    display: block;
    position: relative;
    top: 16px;
    content: "";
    width: 300px;
    height: 2px;
    background: linear-gradient(to left, #ef4098, #e700cb);
  }
}

@media (max-width: 800px) {
  .home {
    .home-header {
      font-size: 42px;
    }

    img {
      width: 80px;
    }
  }
}

@media (max-width: 500px) {
  .home {
    .home-header {
      font-size: 28px;
      text-align: center;
    }

    img {
      width: 60px;
    }
  }
}
